:root {
  /* Light mode variables */
  --kinde-base-font-family: -apple-system, system-ui, BlinkMacSystemFont,
    Helvetica, Arial, Segoe UI, Roboto, sans-serif;
  --kinde-control-select-text-border-radius: 0.75rem;
  --kinde-button-primary-background-color: #706ede;
  --kinde-button-primary-color: #fff;
  --kinde-button-border-radius: 0.75rem;
  --kinde-button-secondary-background-color: #fff;
  --kinde-button-secondary-border-width: 0.0625rem;
  --kinde-button-secondary-border-color: #ccc;
  --kinde-button-secondary-border-style: solid;
  --kinde-button-secondary-border-radius: 0.75rem;
  --kinde-button-block-size: 2.75rem;
  --kinde-control-select-text-block-size: 2.75rem;
  --kinde-control-select-text-border-color: #ccc;

  /* Additional custom variables for themeing */
  --background-color: #fff;
  --text-color: #000;
  --description-color: #555;
  --side-panel-background: #f5f5f5;
  --side-panel-border-color: #ccc;
  --separator-color: #ccc;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --kinde-button-primary-background-color: #8482e6;
    --kinde-button-primary-color: #fff;
    --kinde-button-secondary-background-color: #2a2a2a;
    --kinde-button-secondary-border-color: #444;
    --kinde-button-secondary-color: #fff;
    --kinde-control-label-color: #fff;
    --kinde-control-select-text-border-color: #444;

    /* Custom dark mode variables */
    --background-color: #1a1a1a;
    --text-color: #fff;
    --description-color: #bbb;
    --side-panel-background: #2a2a2a;
    --side-panel-border-color: #444;
    --separator-color: #444;
  }
}

/* Update your inline styles to use CSS variables */
.container {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.side-panel {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--side-panel-background);
  border-color: var(--side-panel-border-color);
  border-style: solid;
  border-width: 1px;
  flex: 1;
  margin: 0.5rem;
  max-width: 1024px;
}

.login-form {
  min-width: 400px;
  margin: 0 auto;
  min-inline-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--text-color);
}

.description {
  font-size: 14px;
  margin-bottom: 1.5rem;
  color: var(--description-color);
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  width: 44px;
  height: 44px;
}

[data-kinde-choice-separator] {
  text-transform: lowercase;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: var(--description-color);
}

[data-kinde-choice-separator]::before,
[data-kinde-choice-separator]::after {
  content: "";
  flex: 1;
  border-bottom: 0.0625rem solid var(--separator-color);
}

[data-kinde-layout-widget-branding] {
  display: none;
}
